:root{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 10rem;
}

body {
  display: grid;
  height: 100vh;
  overflow: hidden;
}


.sidebar {
  padding: 10px;
  display: grid;
  grid-area: 1 / 1 / 10 / 2;
  border: 2px solid black;
  border-radius: 2px 4px;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 2px solid black;
  border-radius: 2px 4px;
  grid-area: 1 / 2 / 1 / 10;
}

.center-box {
  display: grid;
  border: 2px solid black;
  border-radius: 2px 4px;
}

